* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;

    text-align: center;

    background-color: lavender;
    color: white;
}

header h1, header h3 {
    text-shadow: 2px 2px 2px dimgray;
}

form.insert_form {
    width: 80%;
    margin: 0 auto;
}

form.insert_form div {
    display: flex;
}

form.insert_form div input {
    flex: 1;
    margin: 0.2rem;
    padding: 0.5rem;
    border: 1px solid gainsboro;
}

div.input_date input:first-child {
    flex: 2;
}

form.insert_form div textarea {
    flex: 1;
    border: 1px solid gainsboro;
    margin: 0.2rem;
    padding: 0.5rem;
}

div.button_div {
    width: 80%;
    margin: 0 auto;
    text-align: right;
}

div.button_div button {
    border: none;
    border-radius: 5px;
    margin: 1rem auto;
    padding: 0.3rem 1rem;
    display: inline-block;
}
