<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}">

<section layout:fragment="content">
    <table class="order_list">
        <tr>
            <th>SEQ</th>
            <th>고객 ID</th>
            <th>거래일시</th>
            <th>상품명</th>
            <th>단가</th>
            <th>수량</th>
            <th>합계</th>
        </tr>
        <tr th:each="SALE: ${SALES}" th:data-seq="${SALE.seq}">
            <td th:text="${SALEStat.count}"></td>
            <td th:text="${SALE.userid}"></td>
            <td th:text="${SALE.date}"></td>
            <td th:text="${SALE.pname}"></td>
            <td th:text="${SALE.amt}"></td>
            <td th:text="${SALE.qty}"></td>
            <td th:text="${SALE.total}"></td>
        </tr>
    </table>
    <div class="btn_box">
        <button class="btn_insert">주문 등록</button>
    </div>
    <script>
        $(function() {
            $("button.btn_insert").on("click", function(){
                location.href= "/order/insert";
            })
        })
    </script>
</section>

</html>