<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{/layout}">

<section layout:fragment="content">
    <form class="form_write" method="post" th:object="${ORDER}">
<!--        BUYER를 보낼테니 밑에서 알아서 만들어-->
        <fieldset>
            <legend>주문</legend>
            <div>
                <label>USER ID</label>
                <input name="userid" placeholder="고객 ID를 입력하세요" th:field="*{userid}"/>
            </div>
            <div>
                <label>NAME</label>
                <input name="name" placeholder="상품이름을 입력하세요" th:field="*{pname}"/>
            </div>
            <div>
                <label>TEL</label>
                <input name="amt" placeholder="단가를 입력하세요" th:field="*{amt}"/>
            </div>
            <div>
                <label>ADDRESS</label>
                <input name="qty" placeholder="수량을 입력하세요" th:field="*{qty}"/>
            </div>
            <div class="btn_box">
                <button type="button" class="btn_save">등록</button>
                <button type="button" class="btn_list">LIST</button>
            </div>
        </fieldset>
    </form>
</section>