* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    text-align: center;
    text-shadow: 2px 2px 2px blueviolet;
    color: white;

    background-image: url("../images/611815_1621342819.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 250%;
}

section.content {
    flex: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

footer {
    background-image: url("../images/611815_1621342819.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:100% 450%;

    color: white;
    text-align: center;
    padding: 5rem;
}