<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/write.css">
    <link rel="stylesheet" href="/static/form.css">
    <script src="/static/js/write.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <h1>READ BOOK</h1>
        <h3>똑 소리나는 독서록 2021 V1</h3>
    </header>
    <form method="POST" class="insert_form">
        <div>
            <input name="seq" placeholder="SEQ">
        </div>
        <div>
            <input name="isbn" placeholder="ISBN">
            <input name="title" placeholder="제목">
        </div>
        <div class="input_date">
            <input name="rdate" placeholder="날짜">
            <input name="stime" placeholder="시간">
            <input name="etime" placeholder="시간">
        </div>
        <div>
            <input name="rating" placeholder="간단 소개">
        </div>
        <div>
            <textarea name="comment" rows="10" placeholder="내용을 입력해주세요"></textarea>
        </div>
        <div class="button_div">
            <button class="btn_save" type="button">저장</button>
            <button class="btn_new">새로 작성</button>
            <button class="btn_list">리스트</button>
        </div>
    </form>

        <form>
            <fieldset>
                <legend>독서록 작성</legend>
                <div class="input">
                    <input placeholder="ISBN"/>
                    <input placeholder="도서명"/>
                </div>
                <div class="input">
                    <label>읽은날짜:</label><input/>
                    <label>읽기시작:</label><input/>
                    <label>읽기마침:</label><input/>
                </div>
                <div class="input">
                    <input placeholder="내용을 입력하세요"/>
                </div>
                <div class="input">
                    <input placeholder="내용을 입력하세요"/>
                </div>
                <div class="btn_box right">
                    <button type="submit" class="save">저장</button>
                    <button type="reset" class="reset">새로작성</button>
                    <button type="button" class="list">리스트로</button>
                </div>
            </fieldset>
        </form>


</body>
</html>