<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" type="text/css" href="Home.css" >
<body>
<header>
    <h2>나라상사 고객관리 시스템 2021-V1</h2>
</header>
    <ul class="main_nav">
        <li >Home</li>
        <li >주문관리</li>
        <li >결제관리</li>
        <li >로그인</li>
    </ul>
    <table class="home_table">
        <tr>
            <th>고객ID</th>
            <th>이름</th>
            <th>전화번호</th>
            <th>주소</th>
            <th>담당자명</th>
            <th>담당자연락처</th>
            <th>매출액합계(만원)</th>
        </tr>
        <tr>
            <td>B001</td>
            <td>롯데상사</td>
            <td>02-222-9999</td>
            <td>광주광역시 북구</td>
            <td>이몽룡</td>
            <td>010-4412-1231</td>
            <td>290000</td>
        </tr>
    </table>
</body>
</html>