<!DOCTYPE html>
<html lang="ko"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="@{/layout}"
>

<section layout:fragment="content">
    <form method="post" class="buyer_write">
        <div>
            <label>고객ID</label><input name="" placeholder="고객ID를 입력하세요">
        </div>
        <div>
            <label>이름</label><input name="" placeholder="이름을 입력하세요">
        </div>
        <div>
            <label>전화번호</label><input name="" placeholder="전화번호를 입력하세요">
        </div>
        <div>
            <label>주소</label><input name="" placeholder="주소를 입력하세요">
        </div>
        <div>
            <label>담당자명</label><input name="" placeholder="담당자명을 입력하세요">
        </div>
        <div>
            <label>담당자연락처</label><input name="" placeholder="담당자연락처를 입력하세요">
        </div>
        <div class="write_btn">
            <button class="btn_write">전송</button>
        </div>
    </form>
</section>
</html>